body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 

  background-image:url(/src/components/assets/images/BG.png);  
  background-color: rgba(33, 72, 192, 0.8) !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;

  /* Full height 
  height: 50vw;
  background-image:url(/src/Components/Assets/Images/BG.png);  
  background-color: rgba(33, 72, 192, 0.8);

  Center and scale the image nicely 
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
  */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
